debian/vyatta-sslh
debian/vyatta-sslh.debhelper.log
debian/vyatta-sslh.substvars
debian/files
tmp/*
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~
INSTALL
config
build-stamp
